body {
    background-color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    color: maroon;
    text-align: center;
}

h4 {
    color: black;
    text-align: center;
}

section {
    color: white;
    padding-left: 25px;
}
p {
    color: white;
    padding-left: 75px;
    padding-right: 75px;
    text-align: center;
}
ul {
    color: white;
    padding-left: 50px;
}
ol {
    color: white;
}
footer {
    text-align: center;
}

a {
    color: maroon;
}

